html, body {
  margin: 10;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.canvas {
  width: 100vw;
  height: 500px;
  align-items: center;
  justify-content: center;
}
